/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    min-height: 99vh;
    background: url(../images/background-image.jpg)no-repeat center/cover;
    font-family: "Antic Slab", serif;
}

h1 {
    color: #232E30;
    font-weight: 500;
    font-family: 'Limelight', sans-serif;
    
}

header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(144,186,199, .7);
    width: 80%;
    margin-left: 8%;
    margin-top: 25px;
    font-size: 90%;
    padding: 15px;
    border-radius: 20px;
}

.score {
    padding: 5px;
}
