/* General Styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: beige;
    min-height: 100vh;
    background: url(../images/background-image.jpg)no-repeat center/cover;
    font-family: "Antic Slab", serif;
    letter-spacing: 1px;
    line-height: 25px;
}

h1 {
    color: #232E30;
    font-weight: 500;
    font-family: 'Limelight', sans-serif;
    letter-spacing: 3px;
    margin-top: 3px;
    padding: 3px;
    line-height: 25px;
}

h2,
h3,
h4 {
    padding: 3px, 5px;
    font-family: "Antic Slab", serif;
}

/* Header Section Styles */
header {
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgba(144, 186, 199, .7);
    width: 70%;
    margin-top: 5px;
    margin-left: 13%;
    font-size: 80%;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 4px 3px 8px #dd642c;
}

.score {
    padding: 5px;
    width: fit-content;
    background-color: #e7e8ea;
    border: 1px solid rgb(221, 100, 44, .7);
    border-radius: 3px;
}

/* Main Quiz Area Section */
main {
    width: 85%;
    text-align: center;
    margin-left: 5%;
    margin-top: 15px;
}

.quiz-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(231, 232, 234, .7);
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
}

/* Quiz Intro Area Styling*/
.quiz-intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.image-start {
    background: url('../images/paint-splash.jpg') no-repeat center/cover;
    opacity: .8;
    position: relative;
    align-self: center;
    width: 40vw;
    height: 25vw;
    min-width: 200px;
    min-height: 250px;
    border-radius: 20px;
    padding: 10px;
    margin-top: 15px;
    box-shadow: 5px 5px 8px #232E30;
}

.quiz-startbtn {
    width: fit-content;
    margin-top: 15px;
    padding: 3px;
    letter-spacing: 4px;
    align-self: center;
    border: 2px outset rgb(221, 100, 44, .7);
    background-color: rgb(144, 186, 199, .7);
    border-radius: 2px;
    color: #232E30;
}

.quiz-startbtn:hover {
    cursor: pointer;
    transform: scaleY(1.2);
    transition: transform(250ms);
}

/* Quiz Play Area Styling */
.questions-container {
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 15px;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

.hidden {
    display: none;
}

/* Quiz Image Styling */
#art-works{
    min-width: 110px;
    min-height: 150px;
    height: 20vw;
    width: auto;
    align-self: center;
    padding: 5px;
    margin: 10px;
    box-shadow: 5px 10px 8px #232E30;
    border-radius: 10px;
}

/* Answer Options Box Styling */
.answer-options {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    margin: 5px 20%;
    justify-content: center;
    align-content: center;
}

.option-barbtn {
    flex-grow: 1;
    margin: 8px;
    width: 250px;
    height: 30px;
    background-color: rgb(221, 100, 44, .8);
    border-radius: 2px;
    border: 2px outset #232E30;
    font-family: 'Antic Slab', serif;
    font-size: 100%;
    color: #232E30;
}

.hover:hover {
    cursor: pointer;
    transform: scaleY(1.2);
    transition: transform(250ms);
    background-color: #dd642c;
}

.right {
   background-color: green;
}

.wrong {
    background-color: red;
}

/* Next Button Styling */
.next-questionbtn {
    width: fit-content;
    margin-top: 3px;
    padding: 5px;
    letter-spacing: 4px;
    align-self: center;
    border: 2px outset rgb(221, 100, 44, .7);
    background-color: rgb(144, 186, 199, .7);
    border-radius: 2px;
    color: #232E30;
}

.next-questionbtn:hover {
    cursor: pointer;
    transform: scaleY(1.2);
    transition: transform(250ms);
}

/* Interesting Facts Area Styling */
#art-facts-container {
    display: flex;
    flex-direction: row;
    width: fit-content;
    border-top: 2px double #232E30;
    margin-top: 10px;
    align-self: center;
    text-align: left;
    padding: 10px;
}

#icon {
    margin-right: 10px;
    
}

.hidden-two {
    display: none;
}

/* Quiz End Area Styling */
.quiz-end-container {
    width: 90%;
    height: fit-content;
    background-color: rgb(221, 100, 44, .7);
    margin: 10px 6%;
    padding: 10px;
    border-radius: 10px;
    align-self: center;
}

#score-total {
    margin: 5px;
}

.hidden-three {
    display: none;
}

.quiz-againbtn {
    width: fit-content;
    margin-top: 10px;
    padding: 3px;
    letter-spacing: 4px;
    align-self: center;
    border: 2px outset #232E30;
    border-radius: 2px;
    color: #232E30;
}

.quiz-againbtn:hover {
    cursor: pointer;
    transform: scaleY(1.2);
    transition: transform(250ms);
}